Repository jest-community/eslint-plugin-jest, pull requests merged in 2022-08, with the labels that each got.

#1191 fix(no-standalone-expect): only report on `expect.hasAssertions` & `expect.assertions` member calls
  src/rules/__tests__/no-standalone-expect.test.ts
  src/rules/no-standalone-expect.ts
Labels: bug, rule: no-standalone-expect

#1194 fix(max-expects): don't count `expect.<member>()` calls towards max
  src/rules/__tests__/max-expects.test.ts
  src/rules/max-expects.ts
Labels: bug, rule: max-expects

#1199 fix(prefer-mock-promise-shorthand): ignore `mockImplementation` functions that have parameters
  src/rules/__tests__/prefer-mock-promise-shorthand.test.ts
  src/rules/prefer-mock-promise-shorthand.ts
Labels: bug, rule: prefer-mock-promise-shorthand

#1201 fix(prefer-expect-assertions): use scoped based jest fn call parser for `expect` checks
  src/rules/__tests__/prefer-expect-assertions.test.ts
  src/rules/prefer-expect-assertions.ts
Labels: bug, rule: prefer-expect-assertions

#1206 fix(max-expect): reset `expect` counter when entering and exiting test function calls
  src/rules/__tests__/max-expects.test.ts
  src/rules/max-expects.ts
Labels: bug, rule: max-expects

#1207 fix(prefer-expect-assertions): report on concise arrow functions
  src/rules/__tests__/prefer-expect-assertions.test.ts
  src/rules/prefer-expect-assertions.ts
Labels: bug, rule: prefer-expect-assertions

#1211 feat: drop support for Node versions 12 and 17
  .github/workflows/nodejs.yml
  package.json
Labels: enhancement

#1212 feat: drop support for `eslint@6`
  .github/workflows/nodejs.yml
  package.json
  yarn.lock
Labels: enhancement

#1222 feat: create `prefer-each` rule
  README.md
  docs/rules/prefer-each.md
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/__tests__/rules.test.ts
  src/rules/__tests__/prefer-each.test.ts
  src/rules/prefer-each.ts
  src/rules/utils/parseJestFnCall.ts
Labels: enhancement, rule: prefer-each

#1218 feat(no-restricted-matchers): match based on start of chain, requiring each permutation to be set
  docs/rules/no-restricted-matchers.md
  src/rules/__tests__/no-restricted-matchers.test.ts
  src/rules/no-restricted-matchers.ts
Labels: enhancement, rule: no-restricted-matchers

#1219 fix(unbound-method): don't suppress errors from base rule
  src/rules/__tests__/unbound-method.test.ts
  src/rules/unbound-method.ts
Labels: bug, rule: unbound-method

#1220 feat(no-jest-import): remove rule
  README.md
  docs/rules/no-jest-import.md
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/__tests__/rules.test.ts
  src/rules/__tests__/no-jest-import.test.ts
  src/rules/no-jest-import.ts
Labels: enhancement, rule: no-jest-import

#1221 feat: make `no-alias-methods` recommended
  README.md
  docs/rules/no-alias-methods.md
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/rules/no-alias-methods.ts
Labels: enhancement, rule: no-alias-methods

#1225 fix(prefer-expect-assertions): report on concise arrow functions with `expect` call
  src/rules/__tests__/prefer-expect-assertions.test.ts
  src/rules/prefer-expect-assertions.ts
Labels: bug, rule: prefer-expect-assertions
