Repository jest-community/eslint-plugin-jest, pull requests merged in 2022-09, with the labels that each got.

#1236 fix(no-restricted-matchers): improve check to not be solely based on the start of the matcher chain
  src/rules/__tests__/no-restricted-matchers.test.ts
  src/rules/no-restricted-matchers.ts
Labels: bug, rule: no-restricted-matchers

#1241 fix: ensure jest globals are enabled in `styles` config
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/index.ts
Labels: bug

#1242 chore: use `@tsconfig/node14` and stricter TS config
  package.json
  src/index.ts
  src/rules/no-commented-out-tests.ts
  src/rules/no-conditional-in-test.ts
  src/rules/no-mocks-import.ts
  src/rules/prefer-each.ts
  src/rules/prefer-lowercase-title.ts
  src/rules/require-top-level-describe.ts
  src/rules/utils/__tests__/detectJestVersion.test.ts
  src/rules/utils/__tests__/parseJestFnCall.test.ts
  src/rules/utils/detectJestVersion.ts
  tools/regenerate-docs.ts
  tsconfig.json
  yarn.lock
Labels: rule: require-top-level-describe, rule: no-commented-out-tests, rule: prefer-each, rule: no-mocks-import, rule: prefer-lowercase-title, rule: no-conditional-in-test
