Repository jest-community/eslint-plugin-jest, pull requests merged in 2022-10, with the labels that each got.

#1253 docs(prefer-expect-resolves): adjust incorrect example snippet
  docs/rules/prefer-expect-resolves.md
  src/rules/__tests__/prefer-expect-resolves.test.ts
Labels: docs, rule: prefer-expect-assertions

#1257 feat: create `no-restricted-jest-methods` rule
  README.md
  docs/rules/no-restricted-jest-methods.md
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/__tests__/rules.test.ts
  src/rules/__tests__/no-restricted-jest-methods.test.ts
  src/rules/no-restricted-jest-methods.ts
Labels: enhancement, new rule, rule: no-restricted-jest-methods

#1260 fix(prefer-to-be): support negative numbers
  src/rules/__tests__/prefer-to-be.test.ts
  src/rules/prefer-to-be.ts
Labels: bug, rule: prefer-to-be

#1264 Fix typo: possessive it's should be its
  src/rules/valid-expect-in-promise.ts
Labels: bug, rule: valid-expect-in-promise

#1269 fix(no-restricted-jest-methods): don't crash on `jest()`
  src/rules/__tests__/no-restricted-jest-methods.test.ts
  src/rules/no-restricted-jest-methods.ts
Labels: bug, rule: no-restricted-jest-methods
