Repository jest-community/eslint-plugin-jest, pull requests merged in 2022-07, with the labels that each got.

#1162 docs(prefer-hooks-in-order): update the url of the reference link to match the latest version
  docs/rules/prefer-hooks-in-order.md
Labels: docs, rule: prefer-hooks-in-order

#1178 refactor(prefer-called-with): rename `name` data property to `matcherName`
  src/rules/__tests__/prefer-called-with.test.ts
  src/rules/prefer-called-with.ts
Labels: rule: prefer-called-with

#1179 refactor(valid-expect): eliminate duplicate check
  src/rules/valid-expect.ts
Labels: rule: valid-expect

#1167 feat: create `prefer-mock-promise-shorthand` rule
  README.md
  docs/rules/prefer-mock-promise-shorthand.md
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/__tests__/rules.test.ts
  src/rules/__tests__/prefer-mock-promise-shorthand.test.ts
  src/rules/prefer-mock-promise-shorthand.ts
Labels: enhancement, new rule
