Repository jest-community/eslint-plugin-jest, pull requests merged in 2023-10, with the labels that each got.

#1452 fix(expect-expert): report on test function identifier rather than body
  src/rules/__tests__/expect-expect.test.ts
  src/rules/expect-expect.ts
Labels: bug, rule: expect-expect

#1460 feat(valid-title): allow disabling titleMustBeString on test titles
  docs/rules/valid-title.md
  src/rules/__tests__/valid-title.test.ts
  src/rules/valid-title.ts
Labels: enhancement, rule: valid-title

#1454 feat: include plugin `meta` information for ESLint v9
  src/index.ts
Labels: enhancement
