Repository jest-community/eslint-plugin-jest, pull requests merged in 2023-09, with the labels that each got.

#1429 chore: enforce curly braces
  .eslintrc.js
  src/rules/expect-expect.ts
  src/rules/no-test-return-statement.ts
  src/rules/no-untyped-mock-factory.ts
  src/rules/prefer-spy-on.ts
Labels: rule: expect-expect, rule: no-test-return-statement, rule: prefer-spy-on, rule: no-untyped-mock-factory

#1433 feat(valid-title): support ignoring leading and trailing whitespace
  docs/rules/valid-title.md
  src/rules/__tests__/valid-title.test.ts
  src/rules/valid-title.ts
Labels: rule: valid-title

#1442 refactor(max-nested-describe): simplify implementation
  src/rules/max-nested-describe.ts
Labels: rule: max-nested-describe

#1443 fix(no-focused-tests): make reporting location consistent
  src/rules/__tests__/no-focused-tests.test.ts
  src/rules/no-focused-tests.ts
Labels: bug, rule: no-focused-tests

#1444 fix: make rule message punctuation consistent
  src/rules/max-expects.ts
  src/rules/max-nested-describe.ts
  src/rules/no-export.ts
  src/rules/no-focused-tests.ts
  src/rules/no-identical-title.ts
  src/rules/no-if.ts
  src/rules/no-mocks-import.ts
  src/rules/no-standalone-expect.ts
  src/rules/no-test-return-statement.ts
  src/rules/prefer-expect-resolves.ts
  src/rules/prefer-spy-on.ts
  src/rules/valid-expect.ts
  src/rules/valid-title.ts
Labels: bug, rule: valid-title, rule: no-identical-title, rule: no-export, rule: no-focused-tests, rule: no-if, rule: no-test-return-statement, rule: valid-expect, rule: no-standalone-expect, rule: max-expects, rule: no-mocks-import, rule: prefer-spy-on, rule: max-nested-describe, rule: prefer-expect-resolves
