Repository jest-community/eslint-plugin-jest, pull requests merged in 2024-04, with the labels that each got.

#1547 fix: allow ESLint 9 as peer dependency
  .github/workflows/nodejs.yml
  package.json
  yarn.lock
Labels: bug

#1550 fix(max-expects): properly reset counter when exiting a test case
  src/rules/__tests__/max-expects.test.ts
  src/rules/max-expects.ts
Labels: bug, rule: max-expects

#1543 feat: support providing aliases for `@jest/globals` package
  README.md
  src/rules/utils/__tests__/parseJestFnCall.test.ts
  src/rules/utils/parseJestFnCall.ts
Labels: enhancement

#1571 refactor(expect-expect): remove unneeded array
  src/rules/expect-expect.ts
Labels: rule: expect-expect
