Repository jest-community/eslint-plugin-jest, pull requests merged in 2024-08, with the labels that each got.

#1636 feat: allow `@typescript-eslint` v8
  .eslintrc.js
  .github/workflows/nodejs.yml
  jest.config.ts
  package.json
  yarn.lock
Labels: enhancement

#1563 feat: import formatting rules from `eslint-plugin-jest-formatting`
  README.md
  docs/rules/padding-around-after-all-blocks.md
  docs/rules/padding-around-after-each-blocks.md
  docs/rules/padding-around-all.md
  docs/rules/padding-around-before-all-blocks.md
  docs/rules/padding-around-before-each-blocks.md
  docs/rules/padding-around-describe-blocks.md
  docs/rules/padding-around-expect-groups.md
  docs/rules/padding-around-test-blocks.md
  src/__tests__/__snapshots__/rules.test.ts.snap
  src/__tests__/rules.test.ts
  src/rules/__tests__/padding-around-after-all-blocks.test.ts
  src/rules/__tests__/padding-around-after-each-blocks.test.ts
  src/rules/__tests__/padding-around-all.test.ts
  src/rules/__tests__/padding-around-before-all-blocks.test.ts
  src/rules/__tests__/padding-around-before-each-blocks.test.ts
  src/rules/__tests__/padding-around-describe-blocks.test.ts
  src/rules/__tests__/padding-around-expect-groups.test.ts
  src/rules/__tests__/padding-around-test-blocks.test.ts
  src/rules/padding-around-after-all-blocks.ts
  src/rules/padding-around-after-each-blocks.ts
  src/rules/padding-around-all.ts
  src/rules/padding-around-before-all-blocks.ts
  src/rules/padding-around-before-each-blocks.ts
  src/rules/padding-around-describe-blocks.ts
  src/rules/padding-around-expect-groups.ts
  src/rules/padding-around-test-blocks.ts
  src/rules/utils/__tests__/ast-utils.test.ts
  src/rules/utils/ast-utils.ts
  src/rules/utils/padding.ts
Labels: enhancement, rule: padding-around-before-all-blocks, rule: padding-around-test-blocks, rule: padding-around-after-all-blocks, rule: padding-around-describe-blocks, rule: padding-around-all, rule: padding-around-before-each-blocks, rule: padding-around-after-each-blocks, rule: padding-around-expect-groups

#1639 fix(prefer-importing-jest-globals): support typescript-eslint parser
  src/rules/__tests__/prefer-importing-jest-globals.test.ts
  src/rules/prefer-importing-jest-globals.ts
Labels: bug, rule: prefer-importing-jest-globals
